<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
  }
</style>

<table style="width:300px;height:150px">
  <tr>
    <th>

<% if user_signed_in? %>
    <span>Hello, <%= current_user.name %></span>
    <%= link_to 'Home', user_path(current_user.id) %>
    <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Log in', new_user_session_path %> <br> <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

    </th>
  </tr>
</table>