<p id="notice"><%= notice %></p>

<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
  }
</style>

  <strong>Name:</strong>
  <%= @user.name %>

  <strong>Password:</strong>
  <%= @user.password %>

  <strong>Email:</strong>
  <%= @user.email %>

<%= link_to 'Log out', destroy_user_session_path, :method => :delete %>

<hr>

  <%= link_to 'Add site', new_site_path(user_id: @user.id)%>


<table style="width:100%">
  <tr>
    <th>name</th>
    <th>url</th>
    <th>email</th>
    <th>password</th>
    <th>Show</th>
    <th>Destroy</th>
  </tr>
  <% @user.sites.each do |site| %>
        <tr>
          <th><%= site.name %></th>
          <th><%= site.url %></th>
          <th><%= site.email %></th>
          <th><%= site.password %></th>
          <th><%= link_to 'Show', site %></th>
          <th><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></th>
        </tr>
  <% end %>

</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
