<p id="notice"><%= notice %></p>

<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
  }
</style>

  <h1>My account</h1>

  <h3>Name:  <%= @user.name %></h3>
  <h3>Email:  <%= @user.email %></h3>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
<%= link_to 'Log out', destroy_user_session_path, :method => :delete, class: 'btn btn-primary' %>

<hr>

  <%= link_to 'Add site', new_site_path(user_id: @user.id), class: 'btn btn-primary'%>


<table style="width:100%">
  <tr>
    <th>name</th>
    <th>url</th>
    <th>email</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
  <% @user.sites.each do |site| %>
        <tr>
          <td><%= link_to site.name, site %></td>
          <td><%= link_to site.url, site.url %></td>
          <td><%= site.email %></td>
          <td><%= link_to 'Edit', edit_site_path(site) %></td>
          <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
  <% end %>

</table>